/* color palette from <https://github.com/vuejs/theme> */
:root {
  --ion-color-primary: #182e67;
  --ion-color-secondary: #eca764;
  --ion-color-primary-text: #545164;
  --ion-color-danger: #ff0000;

  --ion-item-background: transparent;
  --ion-color-secondary-light: #eca86458;

  --ion-item-color: var(--ion-color-primary-text);
  --ion-text-color: var(--ion-color-primary-text);
  --vt-c-white: #f7f7f7;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--ion-color-primary-text);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--ion-color-primary-text);

  /* --section-gap: 160px; */
}

.ion-padding {
  padding: 16px;
}

.ion-no-padding {
  padding: 0px;
}

.ion-padding-top {
  padding-top: 16px;
}

.ion-padding-start {
  padding-left: 16px;
}

.ion-padding-end {
  padding-right: 16px;
}

.ion-padding-bottom {
  padding-bottom: 16px;
}

.ion-padding-horizontal {
  padding: 0 16px;
}

.ion-padding-vertical {
  padding: 16px 0;
}

.ion-margin {
  margin: 16px;
}

.ion-no-margin {
  margin: 0px;
}

.ion-margin-top {
  margin-top: 16px;
}

.ion-margin-start {
  margin-left: 16px;
}

.ion-margin-end {
  margin-right: 16px;
}

.ion-margin-bottom {
  margin-bottom: 16px;
}

.ion-margin-horizontal {
  margin: 0 16px;
}

.ion-margin-vertical {
  margin: 16px 0;
}

.ion-align-items-center {
  align-items: center;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

a {
  font-size: medium;
  text-decoration: none;
  color: var(--ion-color-primary-text);
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.75rem;
}

ul {
  font-size: medium;
}

ion-text {
  font-size: medium;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

ion-item {
  padding: 0px;
  margin: 0px;
}

ion-row,
ion-item {
  width: 100%;
}

ion-icon {
  font-size: 25px;
  padding-right: 10px;
  margin-bottom: -3px;
}

ion-label {
  font-size: 16px;

  ion-icon {
    margin-bottom: -3px;
  }
}

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  color: var(--ion-color-primary-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: medium;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (hover: hover) {
  a:hover {
    color: var(--ion-color-secondary);
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  h4 {
    font-size: 1rem;
  }
  h5 {
    font-size: 0.8rem;
  }
  h6 {
    font-size: 0.6rem;
  }
}
