@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
  overflow-y: auto;
}

.center-children {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-horizontal {
  display: flex;
  justify-content: center;
}

.center-vertical {
  display: flex;
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

@media (min-width: 1024px) {
  #app {
    display: grid;
    min-width: 100%;
    overflow-y: auto;
  }
}
