@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
  overflow-y: auto;
}

.ion-padding {
  padding: 10px;
}

.ion-margin {
  margin: 10px;
}

a {
  font-size: medium;
  text-decoration: none;
  color: var(--ion-primary-text);
}

body {
  color: var(--ion-primary-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--ion-primary-text);
  font-weight: bold;
}

h4 {
  font-size: large;
  margin-bottom: 5px;
}

h3 {
  font-size: 17px;
}

@media (hover: hover) {
  a:hover {
    color: var(--ion-secondary);
  }
}

@media (min-width: 1024px) {
  #app {
    display: grid;
    min-width: 100%;
    overflow-y: auto;
  }
}
